.small-img {
    width: 200px;
}

.medium-img {
    width: 500px;
}

.large-img {
    width: 800px;
}

body {
    background-image: none;
    background-color: #fff; /* Установите цвет фона по вашему выбору */
}